@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-within:outline-0 focus:outline-0;
  }

  html {
    word-break: break-word;
  }

  html,
  body {
    @apply overflow-x-hidden;
  }

  body {
    @apply bg-t-black;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h2 {
    @apply text-22;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    @apply leading-tight;
  }
}

@layer components {
  .t-container {
    @apply t-screen-height t-screen-width flex flex-col items-center justify-between rounded-20 border-2 border-solid pb-4 shadow-t-container;
    border-image-source: linear-gradient(
      122.71deg,
      rgba(128, 128, 128, 0.05) 0%,
      rgba(128, 128, 128, 0) 52.38%,
      rgba(128, 128, 128, 0.15) 100%
    );
  }

  .t-dashboard-container {
    @apply t-screen-height t-screen-width flex flex-col items-center justify-between rounded-20 border border-solid border-t-light-8 bg-t-dashboard-black pb-4;
  }
}

@layer utilities {
  .t-screen-height {
    height: min(calc(100vh - 2rem), 52.5rem);
  }

  .t-screen-width {
    width: min(calc(100vw - 2rem), 28rem);
  }

  .t-clickable {
    @apply cursor-pointer transition active:scale-99;
  }

  .t-clickable-with-bg {
    @apply t-clickable rounded-xl hover:bg-t-light-8;
  }
}
